body {
        margin: 0;
        padding: 0;
        background-color: #aaa;
        color: #000;
        font-size: 20px;
        font-family: "Verdana", sans-serif;
}

table {
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
}

th {
        text-align: left;
}

th.expired {
        color: #888888;
}

td, th {
        padding: 8px;
}

.header, .footer {
        height: 2.5em;
        display: block;
        background-color: #999999;
}

.nav {
       line-height: 2em;
       text-align: right;
       margin-right: 30px;
}

.header a {
       margin-right: 10px;
}

.header a {
        vertical-align: middle;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1em;
}

.header a:hover {
        color: #990000;
}

.footer {
        line-height: 2em;
        text-align: right;
        padding-right: 30px;
        color: #FFFFFF;
}

.footer a:link, .footer a:active, .footer a:visited {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1em;
}

.footer a:hover {
        color: #990000;
}

.container {
        width: 1000px;
        margin: 0 auto 0 auto;
}

.month-nav a {
        text-decoration: none;
        color: #FFFFFF;
}

.month-nav a:hover {
        color: #990000;
}

a.previous {
        float: left;
        margin-left: 10px;
}

a.next {
        float: right;
        margin-right: 10px;
}

.clear-float {
    clear: both;
}

.event {
        background-color: #DDDDDD;
}

.environment {
        background-color: #009989;
}

.cuts {
        background-color: #CE1836;
}

.trade {
        background-color: #F85931;
}

.feminism {
        background-color: #EDB92E;
}

.other {
        background-color: #A3A948;
}

.event.expired {
        background-color: #999999;
        color: #bbbbbb;
}

.header {

}

.time {
        width: 50px;
        text-align: center;
}

.text {
        width: 400px;
}

.name {
        width: 200px;
}

.area {
        width: 150px;
}
