body {
        margin: 0;
        padding: 0;
        background-color: #999999;
        color: #000;
        font-size: 20px;
        font-family: "Verdana", sans-serif;
}

table {
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        min-width: 1000px;
}

th {
        text-align: left;
}

th.expired {
        color: #888888;
}

td, th {
        padding: 4px;
}

img.profile {
        height: 30px;
        width: 30px;
}

tr.event {
        border-bottom-style: solid;
        border-bottom-width: 10px;
        border-bottom-color: #999999;
}

td {
        margin-bottom: 5px;
}


.header, .footer {
        height: 2em;
        display: block;
        background-color: #777777;
}

#logo {
      height: 4em;
      float: left;
}

.version {
     height: 2em;
     line-height: 2em;
     width: 500px;
     float: left;
     margin-left: 30px;
     color: #ffffff;
}

.nav {
       height: 2em;
       width: 600px;
       line-height: 2em;
       margin-right: 30px;
       float: right;
       text-align: right;
}

.red {
        color: #CC0000;
}

.nav a {
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 10px;
}

.header a:hover {
        color: #990000;
}

.footer {
        line-height: 2em;
        text-align: right;
        padding-right: 30px;
        color: #FFFFFF;
}

.footer a:link, .footer a:active, .footer a:visited {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1em;
}

.footer a:hover {
        color: #990000;
}

.container {
        width: 1000px;
        margin: 0 auto 0 auto;
}

.month-nav a {
        text-decoration: none;
        color: #FFFFFF;
}

.month-nav a:hover {
        color: #990000;
}

a.previous {
        float: left;
        margin-left: 200px;
}

a.next {
        float: right;
        margin-right: 200px;
}

.clear-float {
    clear: both;
}

.event a {
    text-decoration: none;
    color: #FFFFFF;
}

.event a:hover {
    color: #990000;
}

.event {
        background-color: #DDDDDD;
}

.tag-environment {
        background-color: #009989;
}

.tag-cuts {
        background-color: #CE1836;
}

.tag-trade {
        background-color: #F85931;
}

.tag-feminism {
        background-color: #EDB92E;
}

.tag-other {
        background-color: #A3A948;
}

.event.expired > td {
        background-color: #999999;
        color: #bbbbbb;
}

.expired a {
    color: #bbbbbb;
}

.expired a:hover {
    color: #dddddd;
}

.expired img {
    opacity:0.3;
    filter:alpha(opacity=30);
}

.header {

}

.time {
        width: 50px;
        text-align: center;
}

.text {
        width: 400px;
}

.name {
        width: 200px;
}

.area {
        width: 150px;
}
