body {
        margin: 0;
        padding: 0;
        background-color: #EEEEEE;
        Color: #000;
        font-size: 20px;
        font-family: "Verdana", sans-serif;
}

.header, .footer {
        height: 2em;
        display: block;
        background-color: #777777;
}

#logo {
      height: 4em;
      float: left;
}

.version {
     height: 2em;
     line-height: 2em;
     width: 500px;
     float: left;
     margin-left: 30px;
     color: #ffffff;
}

.nav {
       height: 2em;
       width: 600px;
       line-height: 2em;
       margin-right: 30px;
       float: right;
       text-align: right;
}

.red {
        color: #CC0000;
}

.nav a {
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 10px;
}

.header a:hover {
        color: #990000;
}

.footer {
        line-height: 2em;
        text-align: right;
        padding-right: 30px;
        color: #FFFFFF;
        margin-top: 50px;
}

.footer a:link, .footer a:active, .footer a:visited {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1em;
}

.footer a:hover {
        color: #990000;
}

.container {
        width: 1000px;
        margin: 0 auto 0 auto;
}

.month-nav a {
        text-decoration: none;
        color: #990000;
}

.month-nav a:hover {
        color: #996600;
}

.prev, .next {
        font-size: 3em;
}

.prev, .next, .month-name {
        display: inline;
        vertical-align: middle;
}

.month-name {
        margin-left: 20px;
        margin-right: 20px;
}

.month-nav {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
}

.clear-float {
    clear: both;
}

.day-header {
        margin-top: 30px;
        margin-bottom: 30px;
}

.event {
        border-radius: 5px;
        -moz-border-radius: 5px;
        margin-bottom: 10px;
        font-size: 0.8em;
        padding: 10px;
}

.event a {
    text-decoration: none;
    color: #FFFFFF;
}

.event {background-color: #AAAAAA; border: 5px solid #888888;}
.tag-environment { background-color: #009989; border: 5px solid #006666; }
.tag-cuts { background-color: #CE1836; border: 5px solid #771111;}
.tag-trade { background-color: #F85931; border: 5px solid #c82921;}
.tag-feminism { background-color: #EDB92E; border: 5px solid #996600;}
.tag-other { background-color: #A3A948; border: 5px solid #668722;}

.event a:hover {
    color: #990000;
}


.data {
       margin-right: 10px;
}

.time {
        display: inline-block;
        width: 50px;
        text-align: center;
}

.text {
        display: inline-block;
        width: 500px;
}

.name {
        display: inline-block;
        width: 145px;
}

.area {
        display: inline-block;
        width: 145px;
}

.profile {
        display: inline-block;
}

.profile img {
        vertical-align: middle;
        height: 30px;
        width: 30px;
}

.expired a {
    color: #aaaaaa;
}

.expired a:hover {
    color: #ffffff;
}

.expired img {
    opacity:0.3;
    filter:alpha(opacity=30);
}

.expired {
        color: #888888;
}

.expired.event {
    background-color: #cccccc;
    border: 5px solid #aaaaaa;
}
