<div class="container">
<h1>Instructions</h1>
<h3>Tweeting an event:</h3>
<p>To successfully submit an event your tweet needs to be constructed in the format below:</p>
<code>@nuotl [DATE] [TIME] [DURATION] [POSTAL AREA] Text...</code>
<p>The duration should be a number suffixed with either 'm' for minutes,
'h' for hours or 'd' for days (e.g. 30m would be 30 minutes, 1.5d would be 36 hours).</p>
<p>The postal area is the first letters of the postcode that the event is in
(e.g. 'N' for North London, 'CF' for Cardiff etc..).</p>
<p>Also note that it is required that you include a link in your tweet.
This should be a link to more info about your event</p>
<p>If there are any problems with the format of your tweet,
then @nuotl should give some feedback.</p>
<p>An example:</p>
<code>@nuotl 10/1/2013 22:00 30m N Version 0.1.0 of Next Up On The Left
will be put online johncowie.co.uk/nuotl #event</code>
</br>
<h3>Tweeting a feature:</h3>
<p>During this testing phase you can submit your suggestions for new features, improvements or bug fixes by tweeting @nuotl with the hashtag #feature. E.g.:</p>
<code>@nuotl Change the background from grey to shocking pink #feature</code>
 <p>This will then be listed on the features page.</p>
</div>
