<h2>Website</h2>
<ul>
  <li>0.1.2
   <ul>
     <li>Expired events are greyed out</li>
     <li>Tweets are filtered by approval status of user</li>
     <li>Site moved to preview.nextupontheleft.org</li>
     <li>Some cosmetic tweaks (row separation, profile pic size)</li>
     <li>URL is validated to check that year and month are in range</li>
   </ul>
  </li>
  <li>0.1.1
   <ul>
     <li>Added header and footer bar to page</li>
     <li>Added message for months that don't have any events</li>
     <li>Year and month are checked in URL</li>
     <li>404 Page fits the site theme</li>
     <li>Previous and Next buttons styled</li>
   </ul>
  </li>
  <li>0.1.0
    <ul>
      <li>First Release</li>
    </ul>
  </li>
</ul>

<h2>Twitter Listener</h2>
<ul>
  <li>0.1.0
    <ul>
      <li>First Release</li>
    </ul>
  </li>
</ul>
